<ion-content [fullscreen]="true" class="ion-padding ion-align-items-center">
  <section class="contenedor">
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-input formControlName="name" label="Name" labelPlacement="stacked" placeholder="Your name"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input formControlName="email" label="E-mail" labelPlacement="stacked" placeholder="Your email" type="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input formControlName="password" label="Password" labelPlacement="stacked" placeholder="Your password"
          type="password"></ion-input>
      </ion-item>
    </form>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-text color="primary">
        <p>
          <ion-text color="medium">Al registrate estás aceptando los </ion-text> 
          <ion-text color="primary">términos y condiciones </ion-text>
          <ion-text color="medium">de uso de la app.</ion-text>
        </p>
      </ion-text>
      <ion-col size="12">
        <ion-button expand="block" shape="round" (click)="onSubmit()" [disabled]="registerForm.invalid">Registrarse</ion-button>
      </ion-col>
      <ion-text color="medium">
        <p>o también puedes</p>
      </ion-text>
      <ion-col size="12">
        <ion-button expand="block" shape="round" fill="outline" routerLink="/login">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </section>
  <ion-toast [isOpen]="isToastOpen" [message]="message" [duration]="5000" (didDismiss)="setOpen(false)"></ion-toast>
</ion-content>
