<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ "Hola ! ! !" | uppercase }}</ion-card-subtitle>
        <ion-card-title>{{ userName | titlecase }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Bienvenid@, acá puedes ver tus tareas más recientes. 
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" shape="round" (click)="signOut()">Cerrar sesión</ion-button>
</ion-content>