<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ "Hola ! ! !" | uppercase }}</ion-card-subtitle>
        <ion-card-title>{{ userName | titlecase }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Bienvenid@, acá puedes ver tus tareas más recientes. 
      </ion-card-content>
    </ion-card>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="setOpen(true)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="formulario">
            <ion-item>
              <ion-input formControlName="title" label="Titulo" labelPlacement="stacked" placeholder="Ingesa el titulo"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea formControlName="description" label="Descripción" labelPlacement="stacked" placeholder="Ingrese descripción"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-input formControlName="date" type="date" label="Fecha" labelPlacement="stacked" placeholder="Ingrese una fecha"></ion-input>
            </ion-item>
            <br>        
            <ion-button expand="block" (click)="onSubmit()">Guardar</ion-button> 
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>